###################################
# Sensitive config
###################################
inc/db.php
.env
config.local.php

###################################
# Dependencies
###################################
vendor/
composer/
composer.lock
node_modules/
hacks/

###################################
# Design files
###################################
*.psd
*.ai

###################################
# OS junk
###################################
.DS_Store
Thumbs.db